html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    cursor: url('https://cdn.jsdelivr.net/gh/ziliudi/love/heart/cursor.ico'), default;
}

@media (min-width: 1024px) {
    body {
        background-color: rgb(255, 236, 236);
    }
}

main {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
}

time {
    position: absolute;
    z-index: 1;
    color: rgb(98, 143, 194);
    font-size: calc(14px + 1vmin);
    bottom: 3em;
}
